:root {
  --color-background: #fff;
  --color-font: #111;
}

body {
  background-color: var(--color-background);
  font-family: "Montserrat", sans-serif;
  color: var(--color-font);
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  color: var(--color-font);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1770px;
  padding-left: 52px;
  padding-right: 52px;
  margin-left: auto;
  margin-right: auto;
}

/* ==================== HEADER ==================== */

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-header {
  display: flex;
  column-gap: 70px;
  font-size: 14px;
  font-weight: 600;
  line-height: 95%;
  margin-left: 108px;
}

.header-social-list {
  display: flex;
  gap: 8px;
  margin-left: 80px;
}

.head-soc-icon {
  width: 24px;
  height: 24px;
}

.container-header-contact {
  margin-left: 28px;
}

.link-contact {
  font-weight: 700;
}

.button-arrow-down {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  margin-left: 6px;
}

/* ==================== MAIN ==================== */

/* ===== Section ONE ===== */

.container-sec-one {
  margin-top: 82px;
}

.webstudio-num-one {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}

.head-sec-one {
  font-size: 62px;
  font-weight: 900;
  line-height: 110%;
}
